@import "form.css";
@import "button.css";
@import "search.css";
@import "posts.css";
@import "modal.css";

/* @import 'input.css'; */

* {
  font-family: "Poppins", sans-serif;
  cursor: url(/public/svt.png), default;
}

:root {
  font-family: "Poppins", sans-serif;
  cursor: url(/public/svt.png), default;
  max-width: 90%;
  margin: 0 auto;

  --color-text: #b18597;
}

::placeholder {
  color: #663b4d;
}

a {
  text-decoration: none;
  color: #522135;
  transition: 0.4s;
  font-weight: 550;
}

body {
  --sb-track-color: white;
  --sb-thumb-color: #b18597;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

footer {
  min-width: 86%;
  display: flex;
  justify-content: end;
  /* background: green; */

  bottom: 0;
  position: fixed;
  /* background: red; */
  /* cursor: url(/public/svt.png), default; */
}
