#detail {
    margin: 4rem auto;
    max-width: 50%;
    word-break: break-word;
  }
  
  
  #detail h5 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color: #cc98ae;
  
      letter-spacing: 1px;
      line-height: 10px;
  
      margin: 2px;     
  }
  
  #detail h3 {
    /* background: white; */
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 2px;
  }
  
  .detail-txt {
    margin-top: 2rem;

    resize: none;
    outline: none;
    border: none;
    
    width: 100%;
    height: 50vh !important;
    
    --sb-track-color: white;
  --sb-thumb-color: #b18597;
  --sb-size: 10px ;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}


textarea::-webkit-scrollbar {
  width: var(--sb-size);
}

textarea::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}
