#detail {
    margin: 4rem auto;
    max-width: 50%;
  }
  
  .flex {
    /* background: red; */
    
    
  }
  
  
  #detail h5 {
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      color: #cc98ae;
  
      letter-spacing: 1px;
      line-height: 10px;
  
      margin: 2px;     
  }
  
  #detail h3 {
    /* background: white; */
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    margin: 2px;
  }
  
  #detail p {
   /* margin-top: 1rem; */
   margin-bottom: 5rem;
  }