form {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 60%;
  margin: 13rem auto;
}

form > * {
  margin: 1rem;
  display: flex;
  width: 100%;

  border: 1.9px solid #b18597;
  cursor: url(/public/svt.png), default;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #b18597;
}


